html {
  scroll-behavior: smooth;
}

ul.menu {
  display: flex;
  align-items: center;
}

.main-product {
  display: flex;
  width: 100%;
}

.section-title {
  padding: 1rem;
}

.filter-wrapper {
  flex-direction: column;
  width: 16.87rem;
  height: 100%;
  padding: 1rem 2rem;
  left: 0;
  overflow-y: auto;
  flex-shrink: 0;
  gap: 2rem;
  position: sticky;
  top: 90px;
  left: 0;
}

.priceSlider {
  width: 100%;
}

.filter-header,
.range-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.range-gap,
.filter-gap,
.rating-gap,
.sort_gap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.6rem;
}

.featured__container {
  row-gap: 2rem;
}

.featured__product {
  transition: 0.3s;
  justify-self: center;
}

.product-wrapper {
  width: 100%;
}

.card-vertical {
  height: fit-content;
  padding-block: 0.4rem;
}

.fa-heart {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 5px 5px 0 0;
  color: rgb(219, 215, 210);
  font-size: 2rem;
}
.fa-heart:active {
  color: red;
}

.btn.btn-success {
  background-color: var(--green);
}

.btn.btn-success:hover {
  background-color: var(--dank-green);
}

.btn.btn-secondary {
  color: var(--dark);
  background-color: transparent;
  border: 1px solid var(--green);
}

.btn.btn-secondary:hover {
  color: var(--white);
  background-color: var(--green);
}

@media screen and (max-width: 64rem) {
  .filter-wrapper {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}
