.center {
  flex: 1;
  margin-block: 2rem;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid var(--dark-gray);
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--dark-gray);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--green);
  transition: 0.3s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: var(--green);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 10px 5px;
  color: var(--green);
  cursor: pointer;
  font-weight: bold;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--green);
  border-radius: 25px;
  font-size: 18px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: var(--green);
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: var(--dark-gray);
}

.signup_link a {
  color: var(--green);
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.checkbox_container {
  margin-bottom: 10px;
  padding-left: 5px;
  color: var(--dark-gray);
}

.checkbox {
  cursor: pointer;
}

.main-signup {
  display: grid;
  place-items: center;
  height: 67vh;
}
