.counter-countainer {
  width: 100%;
  height: 67vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: 7fr 3fr;
}

.wrap-container2 {
  justify-content: flex-start;
  min-height: 20rem;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.cartCard {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.card-image2 {
  max-height: 10rem;
  max-width: 10rem;
  object-fit: contain;
}

.summary-container {
  position: sticky;
  top: 2rem;
  margin: 1rem;
}

.remove-btn {
  top: 10px;
  position: absolute;
  right: 10px;
  background: white;
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.remove-btn > .fa-times {
  color: "tomato";
}

.counter-btn {
  background-color: var(--dank-green);
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  margin: 1rem;
}

.minus-symb,
.add-symb {
  font-size: large;
  color: white;
}

.items-quantity {
  padding: 10px;
}
