.navbar_container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--light-gray);
  z-index: 9;
}

.navbar_main {
  padding: 0.62rem 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  height: 3.75rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 25rem;
  display: flex;
  visibility: hidden;
}

@media screen and (max-width: 48rem) {
  .search {
    display: none;
  }
}

.search-box {
  width: 60%;
  height: 2.5rem;
  padding: 0.625rem;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  border: 1px solid var(--dark-gray);
  text-transform: capitalize;
  background: none;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 2.5rem;
  padding: 0.62rem 1.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--dark);
  color: var(--white);
  text-transform: capitalize;
  font-size: 0.938rem;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.search-box::placeholder {
  color: var(--dark-gray);
}

.nav-items a {
  margin-left: 1.25rem;
}

.nav-items a img {
  width: 1.875rem;
}
