:root {
  --white: #fff;
  --offwhite: #f5f5f5;
  --dark-gray: #a9a9a9;
  --light-gray: #d1d1d1;
  --dark: #383838;
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
  --first-color: #e55947;
  --first-color-alt: #e45c4a;
  --white-color: #fafafa;
  --light-gray: #f5f5f5;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --grey-color: #f0f1f3;
  --green: #26bd65;
  --dank-green: #377953;
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --z-index: 10;
  --z-fixed: 100;
}
