@media screen and (min-width: 48rem) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.btn.btn-success {
  background-color: var(--green);
}

.btn.btn-success:hover {
  background-color: var(--dank-green);
}

.featured__container {
  row-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.featured__product {
  transition: 0.3s;
  justify-self: center;
}

.featured__product .card-vertical {
  height: fit-content;
}

.featured__product:hover {
  transform: translateY(-0.5rem);
}

.home__container {
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  width: 100%;
}

.home__data {
  padding: 0;
}

@media screen and (min-width: 48rem) {
  body {
    margin: 0;
  }

  .section-all {
    margin-bottom: var(--mb-4);
  }

  .home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: space-between;
    max-width: 75rem;
  }

  .home__data {
    padding: 0;
    align-self: center;
  }

  .home__title {
    line-height: 0.8;
    letter-spacing: 1.5rem;
  }

  .home__img {
    width: 23.125rem;
  }

  .collection__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .collection__box {
    padding: 0.5rem 3rem 0;
  }

  .collection__img {
    width: 8.125rem;
  }
}

@media screen and (min-width: 64rem) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__data {
    padding-left: 7rem;
  }

  .home__img {
    right: 15%;
  }
}

.img_container {
  width: 15rem;
  height: 15rem;
}
